.buscador{
    position: relative;
    top: 50px;
    width: 970px;
}
.materialboxed{
    width: 290.7px;
    height: 202.54px;
}
.resultados{
    width: 303.8px;
}
i.res{
    position: relative;
    top: 6px;
}
h6.res{
    position: relative;
    top: -4px;
}